body {
    background: #eeeeee;
}

.highScoreLink {
    color: darkmagenta;
    text-decoration: underline;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 18px;
    padding-left: 1%;
}

.timer {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 18px;
    font-weight: bold;
    padding-right: 1%;
}

h1 {
    font-size: 50px;
    font-weight: bolder;
    padding-top: 100px;
    padding-bottom: 25px;
}

p {
    padding-bottom: 50px;
}

#startBtn,
#back,
#clear {
    background-color: darkmagenta;
    margin: 10px;
}

#btn0,
#btn1,
#btn2,
#btn3 {
    background-color: darkmagenta;
    display: none;
    margin: 10px; 
    box-sizing: content-box;
}

.result {
    float: right;
    font-size: 25px;
}

.initialsLabel,
.inputBox,
.hsBtn {
    margin: 5px;
}